:root {
    --clr1: #606060;
    --clr2: #292929;
    --clr3: #FFFFFF;
    --clr4: #58C93A;
    --clr5: #c2c1c1;
    --clr6: #e1e0e0;
    --clr7: #818181;
    --clr8: #f8f8f8;
    --clr9: #516fad;
    --clr10: #1e1e1e;
}