
.card-image {
    margin: auto 0;
}

.card-content {
    flex-direction: column;
    gap: 1.2em;
}

.card .card-content p:last-of-type {
    flex: 1;
}

.card .card-title {
    font-size: 1.75em;
    font-weight: 700;
    margin: 0;
}

.card .card-text {
    margin: 0;
    max-width: 36.81em;
}

.btn-continue {
    align-self: center;
    position: relative;
    font-family: lato, sans-serif;
    font-size: 1rem;
    background-color: transparent;
    max-width: 11.62em;
    color: var(--clr5);
    border: solid 2px;
    letter-spacing: 0.031em;
    border-radius: 6em;
    padding: 0.5em;
    margin-block-start: 1.56em;
    transition: padding 0.3s;
    /* z-index: -1; */

}

.btn-continue:hover {
    color: var(--clr4);
    cursor: pointer;
    padding-inline-end: 2.5em;
}

.btn-continue:hover::after {
    content: ' →';
    position: absolute;
    right: 0.75em;

}

.card:last-of-type {
    margin-bottom: 4.87em;
}