.modal {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-150%, 50%);
    width: 75vw;
    height: 50vh;
    background-color: var(--clr8);
    z-index: 30;
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}

.modal.open-modal {
    transform: translate(15%, 20%);
    opacity: 1;
}

.modal>* {
    font-family: lato;
    color: var(--clr2);
}

.modal {
    box-shadow: 6px 9px 20px #0000005e;
    border-radius: 1em;
}


.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body * {
    font-size: 2em;
}

.modal-body label {
    text-align: center;
}


.modal-title {
    font-size: 2em;
    text-align: center;
}

.modal button {
    font-size: 1.5em;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.btn-close {
    background-color: var(--clr1);
}

.btn-submit {
    background-color: var(--clr4);
}